html {
    font-size: 18px;
    color: white;

}

.mobile-nav{
    position: fixed;
    z-index: 1000;
    background-color:rgba(35,40,45,1);
    top: 0;
    left: 0;
    right: 0;
    align-items: middle;
    display: none;
    justify-content: space-around;
    text-align: center;
    min-height: 10vh;
}


#dropbtn{
    position: absolute;
    z-index: 1003;
    left: 49%;
    transform: translate(-50%);
    color: whitesmoke;
    background-color: #008B8B;
    border: #008B8B;
    font-size: 14px;

}



#close{
    position: absolute;
    display: none;
    z-index: 1003;
    right: 5px;
    color: whitesmoke;
    background-color: #008B8B;
    border: #008B8B;
    font-size: 14px;

}

.dropdown-link{
    display: none;
    height: 1vh;
    z-index: 1002;
    margin-top: 20px;
    margin-right: 50px;
}

body{
    font-family: 'Helvetica', 'Arial', sans-serif;
    text-align: center;

}

.bg-img{
    background: url("images/StQoF5M.jpg") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    text-align: center;
    filter: invert(18%) sepia(2%) saturate(5%) hue-rotate(42deg) brightness(25%) contrast(94%);
    width: 100vw;
    height: 100vh;
    position: fixed;
    left: 0;
    right: 0;
    z-index: 1;
    display: block;
    background-color: #333333;
}


.content {
    position: absolute;
    left: 0;
    right: 0;
    top: 30%;
    z-index: 999;
    margin-left: 20px;
    margin-right: 20px;
    color: whitesmoke;
}

.content:after{
    width: 100%;
}

.content-about {
    position: absolute;
    left: 0;
    right: 0;
    top: 12%;
    z-index: 999;
    margin-left: 20px;
    margin-right: 20px;
    color: whitesmoke;
    font-size: 14px;
}

.lang-img{
    height: 50px;
    filter: invert(27%) sepia(94%) saturate(1924%) hue-rotate(161deg) brightness(93%) contrast(106%) grayscale(100%);
    margin-top: 40px;
    margin-left: 10px;
    margin-bottom: 10px;
}

.profile-img{
    border-radius: 10px;
    width: 22%;
}


.blue-text {
    color:#008B8B;
}

p{
    margin: 60px;
}

.about-text{
    margin: 20px;
}

a{
    color: whitesmoke;
}

.inline-link:hover{
    color: #008B8B;
}

.current{
    color: #008B8B;
}

.current:hover{
    color: #008B8B;
}


.navLink:hover{
    color: #008B8B;
}

.responsive-text{
    font-size: 24px;
}

.socialImages{
    margin-top: 10px;
}

.fab{
    padding: 20px;
    color: #008B8B;
}

.portfolio-container{
    position: absolute;
    left: 0;
    right: 0;
    top: 15%;
    z-index: 999;
    text-align: center;
    margin: auto;
    width: 50%;
}


.portfolio-card{
    display: grid;
    margin: auto;
    width: 85%;
    text-align: center;
    grid-template-columns: 35% 35% 35%;
    grid-template-rows: auto;
    grid-template-areas: 
        "header header header"
        "img img desc"
        "img img desc";
    
    padding-bottom: 15%;
}



.portfolio-header{
    grid-area: header;
    color: whitesmoke;
    font-size: 2vw;

    padding-bottom: 5%;

}

.portfolio-img{
    grid-area: img;
    width: 200%;
    border-radius: 10px;

   

}

.desc-container{
    grid-area: desc;
    color: whitesmoke;
    font-size: 1.2vw;
    margin: auto;
    height: 100%;

}

.portfolio-desc{
    width: 12vw;
    margin-left: 10%;
    margin-top: 5%;

}

.code-btn{
    border-radius: 10px;
    border-style: solid;
    background-color: #008B8B;
    color: black;

}

@media(min-width: 2000px){
    .portfolio-card{
        width: 650px;
    }
    .portfolio-header{
        font-size: 1.8vw;
    }

    .desc-container{
        font-size: 1vw;
    }
}




@media(max-height: 500px){
    .lang-img{
        height: 35px;
    }

    .content{
        margin-top: 10px;
    }
    p{
        margin: 10px;
    }

    #dropbtn{
        font-size: 12px;
        height: 30px;
        margin-top: -14px;
    }

    .dropdown-link{
        margin-top: 10px;
    }

    
}



@media(max-width: 1000px){
    .mobile-nav{
        display: inline;
    }

    #fullNav{
        display: none;
    }

    .profile-img{
        width: 33%;
    }

    .portfolio-container{
        width: 75%;
    }

    .desc-container{
        height: 75%;

    }

    .portfolio-header{
        font-size: 2vh;
    }

    .portfolio-desc{
        font-size: 2.5vw;
        margin-bottom: 8%;
        width: 30vw;
        margin-top: -5%;

    }

    .code-btn{
        width: 40%;
        height: 20%;
        font-size: 1.6vh;
        margin-right: 15%;
    }


}

@media(max-width: 768px){
    .lang-img{
        height: 25px;
    }

    .content{
        top: 15%;
    }

    .responsive-text{
        font-size: 16px;
    }
    
    .current, .navLink{
        font-size: 14px;
        padding: 10px;
    }


}







